<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <%- include('../partials/header',{hideAddButton: false, admin: true}) %>
    <div class="content">
        <!-- looping content dari article.json -->
        <% if(articles && articles.length){%>
            <% articles.forEach(function(article){%>
                <article>
                    <h2><%= article.title%></h2>
                    <p><small><%= new Date(article.date).toLocaleString() %></small></p>
                    <a href="/admin/article/<%= article.id %>">Read More</a>
                    <br>
                    <a href="/admin/editarticle/<%= article.id %>">Edit</a>
                </article>
            <%})%>
        <%}%>
    </div>
</body>
</html>